# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Python Build
build/
dist/
*.egg-info/

# Test
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Streamlit
.streamlit/secrets.toml
