# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Python Build
build/
dist/
*.egg-info/

# Test
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Streamlit
.streamlit/secrets.toml

source/소상공인시장진흥공단_상가(상권)정보_서울_202603.csv
source/시군구_성_월별_출생_20260730171943.csv
source/행정구역_시군구_별__성별_인구수_20260731154444.csv
